[Desktop Entry]
Encoding=UTF-8
Name=kema
Comment=kema P2P Cryptocurrency
Exec=kema-qt %u
Terminal=false
Type=Application
Icon=kema128
MimeType=x-scheme-handler/kema;
Categories=Office;Finance;
Name[en_US]=kema-qt.desktop
