[Unit]
Description=kema's distributed currency daemon
After=network.target

[Service]
User=kema
Group=kema

Type=forking
PIDFile=/var/lib/kemad/kemad.pid

ExecStart=/usr/bin/kemad -daemon -pid=/var/lib/kemad/kemad.pid \
          -conf=/etc/kema/kema.conf -datadir=/var/lib/kemad

ExecStop=-/usr/bin/kema-cli -conf=/etc/kema/kema.conf \
         -datadir=/var/lib/kemad stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
