[Unit]
Description=KETAN's distributed currency daemon
After=network.target

[Service]
User=ketan
Group=ketan

Type=forking
PIDFile=/var/lib/ketand/ketand.pid

ExecStart=/usr/bin/ketand -daemon -pid=/var/lib/ketand/ketand.pid \
          -conf=/etc/ketan/ketan.conf -datadir=/var/lib/ketand

ExecStop=-/usr/bin/ketan-cli -conf=/etc/ketan/ketan.conf \
         -datadir=/var/lib/ketand stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
